@using Hooli.MySql;
@using System.Data;
@model Hooli.Models.SoftwareModel
@{
    ViewBag.Title = "Index";
}


@{
    DBConnect db = new DBConnect();
    string selectQueryString = "select * from Software";
}

@using (Html.BeginForm("Search", "ActiveSoftware", FormMethod.Post))
{
    <table>
        <tr>
            <td><textarea name="Search_input" cols="20" rows="1"></textarea></td>
            <td><input type="submit" name="Search" value="Search" /></td>
         </tr>
    </table>
}
<h2>Active Software</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Date Added</th>
            <th>Description</th>
            <th>Download</th>
            <th>Delete</th>
        </tr>
        @foreach(DataRow row in db.GetData(selectQueryString).Rows)
          {
              <tr>
                  <td>@row["softwareName"]</td>
                  <td>@row["date_added"]</td>
                  <td>@row["description"]</td>
                  <td>@Html.ActionLink("Download", "Download", "ActiveSoftware", new { id = row["id"] }, null)</td>
                  <td>@Html.ActionLink("Delete", "Delete", "ActiveSoftware", new { id = row["id"] }, null)</td>
                  <!--<td><input type="button" value="Delete" onclick="location.href='@Url.Action("Delete", "ActiveSoftware")'" /></td>-->
              </tr>
          }
    </table>